<html>

	<head>
		<title>Blog App</title>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<link href="/style/semantic.min.css" rel="stylesheet" type="text/css">
		<link href="/style/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="active item">About</a>
        <a class="item">Form</a>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Remove Police from RPS
      </h1>
      <h2>Contact blank directly</h2>
    </div>

  </div>
