<html>

	<head>
		<title>No RPD in RPS</title>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<link href="/style/semantic.min.css" rel="stylesheet" type="text/css">
		<link href="/style/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui sticky-top container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" href="#about">About</a>
        <a class="item" href="#form">Form</a>
      </div>
    </div>

    <div id="about" class="ui text container">
      <h1 class="ui inverted header">
        Remove Police from RPS
      </h1>
      <h2>Spicy jalapeno bacon ipsum dolor amet meatball beef alcatra capicola, salami picanha tail ground round chicken meatloaf frankfurter turducken. Landjaeger frankfurter boudin, rump filet mignon jerky spare ribs chuck bresaola. Chicken frankfurter kielbasa tri-tip cupim alcatra ribeye. Shankle frankfurter ground round meatloaf kevin, ham hock boudin ham spare ribs. Kielbasa doner biltong beef ribs ham landjaeger turducken ham hock shoulder. Tenderloin bacon buffalo picanha chicken ribeye. Fatback rump corned beef pork belly ball tip venison tri-tip.</h2>
    </div>

  </div>
