<%- include ('partials/header') %>

<div id="imgModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" src="/imgs/rva-district-map.png" id="districtMap">
  <div id="caption"></div>
</div>

<div class="ui container">
  <div class="ui segment header-text">
    <p>Three weeks after the death of George Floyd at the hands of Minneapolis police and the tumultuous protests that followed, RPS school board met on June 15th to receive an overview of the memorandum of understanding (MOU) with the Richmond Police Department.</p>
    <p>On that same night, the school board received 47 pages of public comment, with many city residents urging the board and the administration to terminate the MOU. At that meeting, RPS administration recommended a 90-day in-depth review of the school resource officer program, during which time they would gather more data, hold focus groups with students and staff from all schools that have SROs, schedule a public hearing specifically on this issue, and research potential alternatives.</p>
    <p>We believe that all Richmond residents should have a voice in this issue and urge the school board to terminate the MOU. Please use the form below to tell your school board member that what our schools need are counselors and mental health providers, not police in our schools.</p>
  </div>
</div>

<div class="ui divider"></div>

<div id="form" class="ui container">
  <div class="ui segment">
    <h2>Select your district's school board representative</h2>
    <div class="ui fluid selection dropdown">
    <input type="hidden" class="representative" name="representative">
    <i class="dropdown icon"></i>
    <div class="default text">Select District</div>
    <div class="menu dropdown-menu-items">
      <div class="item" data-value="edoerr@rvaschools.net">
        <span>1st district</span>
        Elizabeth Doerr
      </div>
      <div class="item" data-value="jbarlow3@rvaschools.net">
        <span>2nd district</span>
        James “Scott” Barlow
      </div>
      <div class="item" data-value="kgibson@rvaschools.net">
        <span>3rd District</span>
        Kenya Gibson
      </div>
      <div class="item" data-value="jyoung7@rvaschools.net">
        <span>4th District</span>
        Johnathan Young
      </div>
      <div class="item" data-value="psapini@rvaschools.net">
        <span>5th District</span>
        Patrick Sapini
      </div>
      <div class="item" data-value="fcosby@rvaschools.net">
        <span>6th District</span>
        Felicia Cosby
      </div>
      <div class="item" data-value="cburke2@rvaschools.net">
        <span>7th District</span>
        Cheryl Burke
      </div>
      <div class="item" data-value="dpage2@rvaschools.net">
        <span>8th District</span>
        Dawn Page
      </div>
      <div class="item" data-value="lowen2@rvaschoolsnet ">
        <span>9th District</span>
        Linda Owen
      </div>
    </div>
  </div>
  <div class="form-helper">
    If you are unsure of your district, check out the <span class="text-event-modal">District Map</span>.
  </div>
</div>
  <form class="ui form">
    <div class="ui segment" style="background-color: transparent !important">
      <h2>Personal Information</h2>
    <div class="field user-name-input user-text-input">
      <input class="name-field" type="text" name="first-name" placeholder="">
      <label class="text-label">Name</label>
      <span class="focus-border"></span>
    </div>
    <div class="ui name-warning warning message">
      <div class="header">Could you check something!</div>
        <ul class="list">
          <li>Looks like there was a problem with your name form</li>
        </ul>
    </div>
    <div class="field user-email-input user-text-input">
      <input class="email-field" type="text" name="email" placeholder="">
      <label class="text-label">Email</label>
      <span class="focus-border"></span>
    </div>
    <div class="ui email-warning warning message">
      <div class="header">Could you check something!</div>
        <ul class="list">
          <li>Looks like there was a problem with your name form</li>
        </ul>
    </div>
    </div>
    <div class="ui segment">
      <h2>Message</h2>
    <div class="field">
      <div class="text-area-label">Message Body</div>
      <textarea class="default-message-field" readonly="" placeholder="Dear school board member,

I am a Richmond resident living in your district.  I am writing to urge you to vote to terminate the memorandum of understanding between RPD and RPS and move immediately on a one-to-one replacement of school resource officers with nondisciplinary support staff positions like counselors and mental health providers.  The district’s strategic plan, DREAMS4RPS, outlines a commitment to creating a safe and loving school culture.  This cannot be fully realized should RPS continue to staff schools with police officers.  Long before the high-profile murders of unarmed Black civilians by officers and the presence of militarized police forces at peaceful protests, police interactions have been a source of trauma for students and families throughout our division.  The mere presence of an officer can trigger memories of violent events and family member removal in students.  Reliance on SROs criminalizes students and their behaviors that can and must be addressed compassionately through other means.
In addition to the termination of the MOU, I urge you to support the re-allocation of funds to hire more guidance counselors, behavior counselors, and mental health providers in our schools, implement restorative justice practices in schools across the district, and support the student leaders who are working to build a coalition to address racial disparities in RPS.

Thank you for your time and consideration.
"></textarea>
    </div>
    <div class="field">
      <div class="text-area-label">If you would prefer to write your own message, please fill out this form area, and this message will be sent instead</div>
      <textarea class="optional-message-field" placeholder="Enter optional message body"></textarea>
    </div>
    </div>
    <div class="field">
      <div class="inline field">
        <div class="ui checkbox">
          <input class="validation-checkbox" type="checkbox" name="terms">
          <label class="checkbox-label">Confirm Humanity</label>
        </div>
      </div>
    </div>
    <div class="ui submit-notification warning message">
      <div class="header">Check your form!</div>
        <div class="notification-text-area">

        </div>
    </div>

    <button class="ui button" type="button" id="submit">Submit</button>

    <div class="ui submit-warning message">
      <div class="header">Uh-oh something went wrong!!! :(</div>
        <ul class="list">
          <li>Looks like there was a problem with your form input</li>
        </ul>
    </div>
  </form>
</div> <!-- outermost container -->




<%- include ('partials/footer') %>
